.header {
  display: flex;
  flex-direction: column;
  background-color: #000000c7;
  border-radius: 1rem;
  padding: 0.5rem;
}
.username {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.status {
  color: rgb(150, 150, 150);
}
