.container {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.userDetailsOn,
.userDetailsOff {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;

  background-color: rgba(0, 0, 0, 0.708);
  border-radius: 5rem;

  &:hover {
    background-color: rgba(0, 255, 208, 0.683);
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.489);

    transition: 0.2s;
    cursor: pointer;
    border-radius: 2rem;
    border-bottom-right-radius: 0rem;
    .userMessage,
    .userName {
      color: rgb(0, 0, 0);
    }
  }
  transition: ease-out 0.2s;
}

.userDetailsOn {
  box-shadow: 1px 1px 10px 0px rgba(0, 255, 208, 0.489);
}

.userDetailsOff {
  box-shadow: 1px 1px 10px 0px rgba(255, 0, 0, 0.489);
  &:hover {
    background-color: rgba(255, 48, 48, 0.649);
  }
}

.photo {
  background-color: rgb(69, 69, 69);
  padding: 2rem;
  border-radius: 5rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userName {
  margin: 0;
  font-weight: bold;
  color: white;
}

.userMessage {
  margin: 10px 0 0 0;
  color: rgb(197, 197, 197);
}

.userStatus {
  display: flex;
  gap: 2rem;
}
