.container {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-right: 0.5rem;
  align-items: center;
}
.header {
  padding: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  border-bottom-style: solid;
  border-width: thin;
  border-color: grey;
}
h1 {
  color: white;
}
.leftNav {
  width: 100%;
  overflow-y: auto;
  max-height: 90vh;
}
.leftNav::-webkit-scrollbar {
  width: 8px;
}
.leftNav::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 3px;
}
.leftNav::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
