.containerSender,
.containerReceiver {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.containerReceiver {
  justify-content: flex-start;
}

.messageSender,
.messageReceiver {
  margin-bottom: 1rem;
  background-color: rgba(70, 249, 255, 0.782);
  max-width: 60%;
  padding: 1rem;
  border-radius: 1rem;
}
.messageSender {
  border-bottom-right-radius: 0rem;
}
.messageReceiver {
  background-color: rgba(85, 85, 85, 0.875);
  color: aliceblue;
  border-bottom-left-radius: 0rem;
}

.text {
  word-break: break-word;
}
