.container {
  border-radius: 1rem;
  /* background-color: #364044; */
  background-color: #000000c7;

  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.typeArea {
  width: 90%;
  font: 0.9em sans-serif;
  padding: 0.5rem;
  /* background-color: inherit; */
  background-color: transparent;

  border: none;
  color: aliceblue;
  resize: none;
  outline: none;
  overflow: hidden;
  &:focus {
    outline: none;
    overflow: hidden;
  }
  &::placeholder {
    color: rgb(159, 159, 159);
  }
}

.Send {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 255, 208, 0.782);

  color: rgb(53, 53, 53);
  padding: 0.8rem;
  border-radius: 5rem;
  border: none;
  font-weight: bold;
  width: 8%;
  &:hover {
    background-color: rgb(39, 255, 215);

    cursor: pointer;
    border-bottom-left-radius: 0rem;
    transition: 0.3s;
  }
  transition: ease-out 0.2s;
}
